# ค่าสำหรับ Backend 
DB_HOST=db
DB_USER=root
DB_PASSWORD=your_password_here
DB_NAME=photoclub_db
DB_PORT=3306
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1d
PORT=5000
BASE_URL=http://localhost:5000

# ค่าสำหรับ Database (MySQL จะใช้อันนี้) 
MYSQL_ROOT_PASSWORD=your_password_here
MYSQL_DATABASE=photoclub_db
MYSQL_USER=root
MYSQL_PASSWORD=your_password_here

# ค่าสำหรับ phpMyAdmin 
PMA_HOST=db
PMA_PORT=3306
PMA_USER=root
PMA_PASSWORD=your_password_here